* {
  box-sizing: border-box;
}

body {
  font-family: "Karla", sans-serif;
  margin: 0;
  /* background-image: url(/public/images/xcool-background-2.png); */
  background-color: #342e41;
  background-size: cover;
}

main {
  padding: 36px;
}

.header {
  display: flex;
  align-items: center;
  height: 65px;
  background: linear-gradient(145deg, #2a2537, #342e41);
  box-shadow: 0 2px 10px #6c638b;
  color: #fdddb4;
  padding: 20px;
}

.header--image {
  height: 100%;
  margin-right: 6px;
}

.header--title {
  font-size: 1.25rem;
  margin-right: auto;
}

.header--project {
  font-size: 1rem;
  font-weight: 500;
}

.form {
  display: grid;
  grid-template: 40px 40px / 1fr 1fr;
  gap: 17px;
  margin-bottom: 17px;
  /* display: flex;
  flex-wrap: wrap; */
}

.form--input {
  font-family: "Karla", sans-serif;
  border-radius: 5px;
  border: 1px solid #d5d4d8;
  text-indent: 5px;
  background-color: #a5a7b6;
}

.form--button {
  grid-column: 1 / -1;
  font-family: "Karla", sans-serif;
  border-radius: 3px;
  /* background: linear-gradient(145deg, #a40b0b, #c30d0d);
  box-shadow: 5px 5px 0px #490505, -5px -5px 0px #ff1313; */
  background-color: #8576b9;
  color: #0a0a0a;
  border: none;
  cursor: pointer;
  font-weight: 700;
}

.form--button:hover,
.form--button:focus-visible {
  background-color: #423081;
  color: #fdddb4;
}

.meme {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.meme--image {
  max-width: 100%;
  border-radius: 3px;
  place-items: center;
  height: 423px;
  width: 423px;
  object-fit: contain;
}

.meme--text {
  position: absolute;
  width: 80%;
  text-align: center;
  left: 50%;
  transform: translateX(-50%);
  margin: 15px 0;
  padding: 0 5px;
  font-family: impact, sans-serif;
  font-size: 2em;
  text-transform: uppercase;
  color: white;
  letter-spacing: 1px;
  text-shadow: 2px 2px 0 #000, -2px -2px 0 #000, 2px -2px 0 #000,
    -2px 2px 0 #000, 0 2px 0 #000, 2px 0 0 #000, 0 -2px 0 #000, -2px 0 0 #000,
    2px 2px 5px #000;
}

.bottom {
  bottom: 5px;
  font-size: 2rem;
}

.top {
  top: 5px;
  font-size: 2rem;
}

@media (max-width: 500px) {
  main {
    padding: 2em;
    width: 95%;
  }
  .form {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }
  .form--input {
    padding: 0.5em;
    text-align: center;
  }
  .form--button {
    padding: 1em;
  }
  .meme {
    background-color: #1c0f3d;
  }
  .header {
    display: flex;
  }
  .header--image {
    height: 90%;
    margin-right: 6px;
  }
  .header--title {
    font-size: 1.1rem;
    margin-right: auto;
  }

  .header--project {
    font-size: 0.85rem;
    font-weight: 500;
  }
}
